$def with(result,name,f)
<head>
  <link href="http://g.alicdn.com/sj/dpl/1.5.1/css/sui.min.css" rel="stylesheet">
  <script type="text/javascript" src="http://g.alicdn.com/sj/lib/jquery/dist/jquery.min.js"></script>
  <link rel="icon" href="../static/ML.jpg">
  <script type="text/javascript" src="http://g.alicdn.com/sj/dpl/1.5.1/js/sui.min.js"></script>
  <link href='http://fonts.font.im/css?family=Asap:400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../static/layui-v2.4.5/layui/css/layui.css">
  <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Result</title>
  <style type="text/css">
    html,body{margin:0;padding:0;}
    .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
    .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
  </style>
</head>

<body>
  <div class="sui-navbar navbar-fixed-top">
    <div class="navbar-inverse">
      <div class="navbar-inner">
        <div class="sui-container"><a href="/" class="sui-brand">Artest</a>
          <ul class="sui-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li class="sui-dropdown"><a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">Others<i class="caret"></i></a>
              <ul role="menu" class="sui-dropdown-menu">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/cnm">中国国家博物馆</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/dpm">北京故宫博物院</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/sxm">陕西历史博物馆</a></li>
              </ul>
            </li>
            <li class="sui-dropdown">
              <a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">Game Time!<i class="caret"></i></a>
              <ul role="menu" class="sui-dropdown-menu">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/ML">Mona Lisa</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/Christmas">Merry Christmas</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <a href="/"><button style="font-family:'Microsoft Yahei';margin-top:80px;margin-left:35px;padding:10px;background: #FFFFFF;border: 2px solid #000000;border-radius:5px;font-size:15px;font-color:#FFFFFF;">Back to Home</button></a>


  <div style="margin-top:1%; font-family: Asap;padding-left:3%;text-align: left;font-size: 25px;">
    Search Results for $name:
  </div>


<div class="result" style="width:100%;margin-top:2%; height:auto;">
    $if result:
      $for res in result:
        $if loop.index%2==1:
			<div class="container" style="display:grid;grid-template-columns:7% 39.5% 7% 39.5% 7%;">
            <div></div>
            <div class="item">
              <img src="$res['img']" style="width:500px;">
              <div class="title" style="margin-top:4%;font-family:'Microsoft Yahei';font-size:23px;">
                <a class="site_url" href="$res['page']">$res['name']</a>
              </div>
              <div style="font-size:15px;">$res['museum']</div>
              <em class="hlt related" style="font-family:'Microsoft Yahei';font-size:15px;"></em>
              <em class="related" style="font-family:'Microsoft Yahei';font-size:15px;">$res['detail']</em>
            </div>
        $elif loop.index%2==0:
          <div></div>
          <div class="item">
            <img src="$res['img']" style="width:500px;">
            <div class="title" style="margin-top:4%;font-family:'Microsoft Yahei';font-size:23px;">
				<a class="site_url" href="$res['page']">$res['name']</a>
			</div>
				<div style="font-size:15px;">$res['museum']</div>
				<em class="hlt related" style="font-family:'Microsoft Yahei';font-size:15px;font-style:normal;"></em>
				<em class="related" style="font-family:'Microsoft Yahei';font-size:15px;">$res['detail']</em>
			
          </div>
		</div>
		<br><br>
</div>

  <div class="container" style="display: grid;grid-template-columns: 100%;height:30px;"></div>
  <div class="footer" style="text-align:center;font-family:Asap;font-size:20px;">Powered by Artest</div>
  <div class="container" style="display: grid;grid-template-columns: 100%;height:30px;"></div>
</body>
